# Configurações da JVM para os nós do Trino (Coordenador e Worker)

# Otimizações gerais do servidor Java
-server

# Define o tamanho máximo do heap (memória) da JVM.
# Ajuste este valor conforme os limites definidos no seu docker-compose.override.yml.
# Ex: 4G para um limite de container de 5G.
-Xmx4G

# Configurações para o coletor de lixo G1 (G1GC), recomendado para Trino.
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+ExplicitGCInvokesConcurrent
-XX:+ExitOnOutOfMemoryError
-XX:+HeapDumpOnOutOfMemoryError

# Necessário para certas funcionalidades de depuração e monitoramento.
-Djdk.attach.allowAttachSelf=true
-XX:+UnlockDiagnosticVMOptions
-XX:G1NumCollectionsKeepPinned=10000000

