# Configurações da JVM para os nós do Trino (Coordenador e Worker)

-server
-Xmx4G

# --- SUGESTÃO: Definir memória inicial ---
# Igualar a memória inicial (Xms) à máxima (Xmx) evita pausas para redimensionamento do heap.
-Xms4G

-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+ExplicitGCInvokesConcurrent
-XX:+ExitOnOutOfMemoryError

# --- SUGESTÃO: Definir um caminho para o Heap Dump ---
# Garante que os dumps de memória sejam salvos em um local conhecido e acessível.
# Idealmente, monte um volume Docker neste caminho para acessar os dumps no host.
-XX:HeapDumpPath=/var/trino/data/dumps/

-Djdk.attach.allowAttachSelf=true
-XX:+UnlockDiagnosticVMOptions
-XX:G1NumCollectionsKeepPinned=10000000